.recipe {
	border-radius: 10px;
	padding: 30px;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
	margin: 70px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to right, 
	  #34C759 0%, #2BC250 30%, #1E865F 64%, #1E865F 100%);
	width: 100%; 
	max-width: 1500px;
	color: #333;
  }
  
  .image {
	border-radius: 30px;
	margin: 25px;
	width: 30%;
	height: auto;
	max-height: 300px;
	object-fit: cover;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
	border: 5px solid #1E865F; /* Added a green border */
  }
  
  .recipe h1 {
	font-size: 1.7rem;
	padding-bottom: 20px;
	padding-right: 20px;
	color: #fff;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
  }
  
  /* Responsive Styles */
  @media (max-width: 1200px) {
	.recipe {
	  flex-direction: column;
	  padding: 40px;
	}
	.image {
	  width: 50%;
	  margin: 30px auto;
	}
  }
  
  @media (max-width: 768px) {
	.recipe {
	  padding: 30px;
	}
	.image {
	  width: 70%;
	  margin: 30px auto;
	}
	.recipe h1 {
	  font-size: 1.5rem;
	  margin-bottom: 15px;
	}
  }
  
  @media (max-width: 480px) {
	.recipe {
	  padding: 20px;
	}
	.image {
	  width: 90%;
	  margin: 20px auto;
	}
	.recipe h1 {
	  font-size: 1.2rem;
	  margin-bottom: 10px;
	}
  }